<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="images">
    <a href="images/nakul-car.jpg" height="150px" width="300px" title="Has travel plans to a lot of beautiful places around the world. You get to be a part of it too! Exciting isn't it?!!">
        <img src="images/nakul-car.jpg" height="50px" width="50px" alt="Has travel plans to a lot of beautiful places around the world. You get to be a part of it too! Exciting isn't it?!!">
    </a>
    <a href="images/nakul-taj.jpg" height="150px" width="300px" title="Has travel plans to a lot of beautiful places around the world. You get to be a part of it too! Exciting isn't it?!!">
        <img src="images/nakul-taj.jpg" height="50px" width="50px" alt="Has travel plans to a lot of beautiful places around the world. You get to be a part of it too! Exciting isn't it?!!">
    </a>
    <a href="images/nakul-oil.jpg" height="150px" width="300px" title="Is a master chef. Can make oily but delicious food. (Like bonda, bajji, jamoon etc) His dream is to open a bonda bajji stall at Avery Close near NC State University.">
        <img src="images/nakul-oil.jpg" height="50px" width="50px" alt="Is a master chef. Can make oily but delicious food. (Like bonda, bajji, jamoon etc) His dream is to open a bonda bajji stall at Avery Close near NC State University.">
    </a>
    <a href="images/nakul-dosa.jpg" height="150px" width="300px" title="Is a master chef. Can make oily but delicious food. (Like bonda, bajji, jamoon etc) His dream is to open a bonda bajji stall at Avery Close near NC State University.">
        <img src="images/nakul-dosa.jpg" height="50px" width="50px" alt="Is a master chef. Can make oily but delicious food. (Like bonda, bajji, jamoon etc) His dream is to open a bonda bajji stall at Avery Close near NC State University.">
    </a>
    <a href="images/nakul-fry.jpg" height="150px" width="300px" title="Is a master chef. Can make oily but delicious food. (Like bonda, bajji, jamoon etc) His dream is to open a bonda bajji stall at Avery Close near NC State University.">
        <img src="images/nakul-fry.jpg" height="50px" width="50px" alt="Is a master chef. Can make oily but delicious food. (Like bonda, bajji, jamoon etc) His dream is to open a bonda bajji stall at Avery Close near NC State University.">
    </a>
    <a href="images/nakul-social-circle.jpg" height="150px" width="300px" title="Has a huge social circle. Knows people from numerous colleges. He can also tell you stories of their current gfs, ex gfs, ex-ex gfs and many more things. A perfect match if you like to gossip!">
        <img src="images/nakul-social-circle.jpg" height="50px" width="50px" alt="Has a huge social circle. Knows people from numerous colleges. He can also tell you stories of their current gfs, ex gfs, ex-ex gfs and many more things. A perfect match if you like to gossip!">
    </a>
    <a href="images/nakul-friends.jpg" height="150px" width="300px" title="Has a huge social circle. Knows people from numerous colleges. He can also tell you stories of their current gfs, ex gfs, ex-ex gfs and many more things. A perfect match if you like to gossip!">
        <img src="images/nakul-friends.jpg" height="50px" width="50px" alt="Expert in Data Mining and other complicated algorithms. He taught all of us about Principal Component Analysis.">
    </a>
    <a href="images/nakul-chelsea.png" height="150px" width="300px" title="Claims to be a big Chelsea fan. If you support some other team, you both can quarrel all day long">
        <img src="images/nakul-chelsea.png" height="50px" width="50px" alt="Claims to be a big Chelsea fan. If you support some other team, you both can quarrel all day long">
    </a>
    <a href="images/nakul-Datamining.jpg" height="150px" width="300px" title="Expert in Data Mining and other complicated algorithms. He taught all of us about Principal Component Analysis.">
        <img src="images/nakul-Datamining.jpg" height="50px" width="50px" alt="Expert in Data Mining and other complicated algorithms. He taught all of us about Principal Component Analysis.">
    </a>
    <a href="images/nakul-counterstrike.jpg" height="150px" width="300px" title="Is excellent at Badminton, FIFA and counterstrike. You can proudly flaunt about it to everyone and challenge anyone to beat him at it.">
        <img src="images/nakul-counterstrike.jpg" height="50px" width="50px" alt="Is excellent at Badminton, FIFA and counterstrike. You can proudly flaunt about it to everyone and challenge anyone to beat him at it.">
    </a>
    <a href="images/nakul-fifa.jpg" height="150px" width="300px" title="Is excellent at Badminton, FIFA and counterstrike. You can proudly flaunt about it to everyone and challenge anyone to beat him at it.">
        <img src="images/nakul-fifa.jpg" height="50px" width="50px" alt="Is excellent at Badminton, FIFA and counterstrike. You can proudly flaunt about it to everyone and challenge anyone to beat him at it.">
    </a>
    
</div>